footer{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #707070;
    display:flex;
    flex-flow: row;
    justify-content: space-evenly;
    height:230px;
    text-align: center;
    background-color: rgb(191, 189, 189);
    padding:40px;
}
.menu ul{
    margin-top: 10px;
    list-style: none;
    line-height: 30px;
    font-size: 89%;
}
i{
    margin: 10px;
}