.patch{
    background-image: url("https://cdn.pixabay.com/photo/2016/01/30/23/29/wood-floor-1170743_1280.jpg");
}
body{
    font-family: 'Gentium Plus', serif;
    background-color: rgb(231, 231, 231);
}